In [418]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Import the dataset

In [419]:
df = pd.read_csv('Top45Cities.csv', encoding='iso-8859-1')
print(df.columns)

Index(['City', 'Price', 'Address', 'Number_Beds', 'Number_Baths', 'Province',
       'Population', 'Latitude', 'Longitude', 'Median_Family_Income'],
      dtype='object')

In [420]:
df.shape

(35768, 10)

In [421]:

df.head(10)

,City,Price,Address,Number_Beds,Number_Baths,Province,Population,Latitude,Longitude,Median_Family_Income
0,Toronto,779900.0,#318 -20 SOUTHPORT ST,3,2,Ontario,5647656,43.7417,-79.3733,97000.0
1,Toronto,799999.0,#818 -60 SOUTHPORT ST,3,1,Ontario,5647656,43.7417,-79.3733,97000.0
2,Toronto,799900.0,#714 -859 THE QUEENSWAY,2,2,Ontario,5647656,43.7417,-79.3733,97000.0
3,Toronto,1200000.0,275 MORTIMER AVE,4,2,Ontario,5647656,43.7417,-79.3733,97000.0
4,Toronto,668800.0,#420 -388 RICHMOND ST,1,1,Ontario,5647656,43.7417,-79.3733,97000.0
5,Toronto,548000.0,#2503 -99 HARBOUR SQ,0,1,Ontario,5647656,43.7417,-79.3733,97000.0
6,Toronto,669900.0,#817 -151 DAN LECKIE WAY,2,1,Ontario,5647656,43.7417,-79.3733,97000.0
7,Toronto,699000.0,#1107 -438 KING ST W,2,2,Ontario,5647656,43.7417,-79.3733,97000.0
8,Toronto,978000.0,#2708 -20 EDWARD ST,3,2,Ontario,5647656,43.7417,-79.3733,97000.0
9,Toronto,958000.0,#4616 -386 YONGE ST,2,2,Ontario,5647656,43.7417,-79.3733,97000.0

In [422]:
df['City'].unique()

array(['Toronto', 'Vancouver', 'Calgary', 'Edmonton', 'Ottawa',
       'Winnipeg', 'Hamilton', 'Kitchener', 'London', 'St. Catharines',
       'Oshawa', 'Victoria', 'Windsor', 'Saskatoon', 'Regina',
       "St. John's", 'Barrie', 'Kelowna', 'Abbotsford', 'Sudbury',
       'Kingston', 'Guelph', 'Moncton', 'Brantford', 'Thunder Bay',
       'Saint John', 'Peterborough', 'Red Deer', 'Kamloops', 'Nanaimo',
       'Lethbridge', 'White Rock', 'Maple Ridge', 'Prince George',
       'Sault Ste. Marie', 'Medicine Hat', 'New Westminster', 'Caledon',
       'Burnaby', 'Airdrie', 'Montreal', 'Sherbrooke', 'Quebec',
       'Trois-Rivieres', 'Halifax'], dtype=object)

In [423]:
print(len(df['Province'].unique()))
df['Province'].unique()

9

array(['Ontario', 'British Columbia', 'Alberta', 'Manitoba',
       'Saskatchewan', 'Newfoundland and Labrador', 'New Brunswick',
       'Quebec', 'Nova Scotia'], dtype=object)

In [424]:
df['City'].value_counts()

City
Regina              1917
Saskatoon           1800
Edmonton            1351
London              1345
New Westminster     1337
Caledon             1336
Burnaby             1334
Vancouver           1328
Victoria            1325
Calgary             1322
Hamilton            1289
Maple Ridge         1282
Kelowna             1280
Toronto             1276
St. Catharines      1268
Kitchener           1199
White Rock          1175
Ottawa              1097
Oshawa              1082
Barrie              1012
Abbotsford           755
Windsor              720
Nanaimo              683
St. John's           654
Brantford            628
Winnipeg             531
Kingston             486
Saint John           458
Kamloops             442
Guelph               436
Moncton              416
Lethbridge           379
Red Deer             326
Peterborough         307
Prince George        307
Medicine Hat         277
Airdrie              225
Montreal             212
Sudbury              203
Sherbrooke           197
Quebec               196
Trois-Rivieres       165
Sault Ste. Marie     165
Thunder Bay          154
Halifax               91
Name: count, dtype: int64

In [425]:
df['Province'].value_counts()

Province
Ontario                      14015
British Columbia             11244
Alberta                       3880
Saskatchewan                  3707
New Brunswick                  874
Quebec                         770
Newfoundland and Labrador      657
Manitoba                       530
Nova Scotia                     91
Name: count, dtype: int64

# Drop features that are not required for this project.

In [426]:
df1 = df.drop(['Address', 'Population', 'Latitude', 'Longitude', 'Median_Family_Income'], axis='columns')
df1.shape

(35768, 5)

In [427]:
df1.head(20)

       City      Price  Number_Beds  Number_Baths Province
0   Toronto   779900.0            3             2  Ontario
1   Toronto   799999.0            3             1  Ontario
2   Toronto   799900.0            2             2  Ontario
3   Toronto  1200000.0            4             2  Ontario
4   Toronto   668800.0            1             1  Ontario
5   Toronto   548000.0            0             1  Ontario
6   Toronto   669900.0            2             1  Ontario
7   Toronto   699000.0            2             2  Ontario
8   Toronto   978000.0            3             2  Ontario
9   Toronto   958000.0            2             2  Ontario
10  Toronto  1899000.0            2             3  Ontario
11  Toronto   559900.0            2             1  Ontario
12  Toronto   498800.0            1             1  Ontario
13  Toronto  1450000.0            4             2  Ontario
14  Toronto   650000.0            2             1  Ontario
15  Toronto   745000.0            2             2  Ontario
16  Toronto   784900.0            3             2  Ontario
17  Toronto   998000.0            4             2  Ontario
18  Toronto   989900.0            4             2  Ontario
19  Toronto  1099000.0            3             2  Ontario

In [428]:
df1.isnull().sum()

City            0
Price           0
Number_Beds     0
Number_Baths    0
Province        0
dtype: int64

# removing duplicate values

In [429]:
df1.duplicated().sum()

np.int64(8499)

In [430]:
df1.drop_duplicates(inplace = True)

In [431]:
df1.duplicated().sum()

np.int64(0)

# remove all listings with 0 beds

In [432]:
df1 = df1[df1['Number_Beds'] != 0]
# print(df1)
zero_bedroom = df1[df1['Number_Beds'] == 0]
print(len(zero_bedroom))

0

# remove all listings with 0 baths

In [433]:
df1 = df1[df1['Number_Baths'] != 0]
# print(df1)
zero_bathroom = df1[df1['Number_Baths'] == 0]
print(len(zero_bathroom))

0

In [434]:
df1.shape

(26702, 5)

np.int64(0)